body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

#predictionsTable {
    width: 100%;
}

.filter-input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
